*{
}

.header{

text-align: center;

margin-top: 60px;

font-size: 28px;

line-height: 1.5;

font-weight: 400;

font-family: "Poppins", Arial, sans-serif;
}

.header h1{

}

.feature_section{

display: flex;

width: 75%;

margin: auto;

justify-content: space-between;

margin-top: 40px;

margin-bottom: 40px;
}

.feature_item{
}

.icon_box{

text-align: center;

width: 60px;

height: 60px;

border-radius: 50%;

background: #46b5d1;

margin: 0 auto;

margin-bottom: 20px;

margin-top: 22px;
}

.icon_box i{

margin-top: 20px;

color: white;
}

.feature_item p{

text-align: center;

font-size: 20px;
}
.feature_item p a{

color: #46b5d1;

text-decoration: none;
}

.second_part{
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-between;
}
.form{width: 60%;margin-top: 20px;}

.form h1{

width: 95%;

margin: auto;

font-size: 40px;
}

.flex_part{

display: flex;
}



.first{

width: 50%;

margin-bottom: 20px;

margin-top: 30px;
}
.first p{

font-size: 20px;

margin-bottom: 5px;
}


input{

border: none;

outline: none;

border-bottom: 1px solid gray;

width: 95%;

font-size: 15px;
}

.third{

width: 47%;

margin-top: 30px;

margin-bottom: 20px;
}
.third p{

font-size: 20px;

margin-bottom: 5px;
}

.subject{

width: 100%;

margin-top: 15px;

margin-bottom: 15px;
}
.subject p{

font-size: 20px;

margin-bottom: 5px;
}
.subject input{

}

.text-data{

width: 100%;

margin-top: 30px;
}
.text-data p{

}

textarea{
    
width: 95%;
    
border: none;
    
outline: none;
    
border-bottom: 1px solid gray;
}

.picture{

width: 35%;

margin-bottom: 58px;
}

.picture img{width: 100%;display: block;height: 620px;}



input:focus{
    border-bottom: 1px solid #46b5d1;
}

textarea:focus{

    border-bottom: 1px solid #46b5d1;
}

button{
    
background:aqua;
    
border: :none;
    
border: 1px solid #15a4fa;
    
color: #fff;
    
text-transform: capitalize;
    
font-size: 14px;
    
padding: 8px 10px;
    
border-radius: 2px;
}
button:hover{
    background-color:rgb(4, 99, 99);
    transition: .5s all ease-out;
}

.sending_part{
    
width: 75%;
    
margin: auto;
    
margin-top: -162px;
}







